# Python Bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/
ENV/

# PyCharm
.idea/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python Environment Files
*.egg-info/
*.egg

# Test Output
htmlcov/
coverage.xml
*.cover

# Pycharm's Python Console History
.python_history
