# Python Bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/
ENV/

# PyCharm
.idea/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python Environment Files
*.egg-info/
*.egg

# Test Output
htmlcov/
coverage.xml
*.cover

# Pycharm's Python Console History
.python_history

aipack06/indians-diabetes.data.csv
aipack06/rideshare_dataset.csv

#aipack05/DataSet_Animal_Center_Intakes.csv
#aipack05/DataSet_Animal_Center_Outcomes.csv
#aipack05/employees_with_missing_data.csv

#aipack04/outputData.xlsx

aipack07/LinearRegressionPoly_Data.csv
aipack07/LR_House_price.csv
aipack07/insurance_data2.csv
